* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    ::selection{
        background-color: #FF4D24;
        color: white;
    }
  }

// ust-uste masin sekilleri olan section
  #savemoney {
    max-width: 100vw;
    min-height: 60vh; 
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    .container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .photo {
        max-width: 50vw;
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .images {
          position: relative;
          width: 600px;
          right: -50px;
          .image1 {
            width: 300px;
            height: 550px;
          }
          .image2 {
            width: 300px;
            height: 550px;
            position: absolute;
            right: 10px;
          }
        }
      }
      .text {
        max-width: 550px;
        min-height: 300px;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
          margin-right: 30px;
        h3 {
          width: 100%;
          min-height: 80px;
          text-align: start;
          font-weight: 600;
          color: #000;
          font-size: 35px;
          margin: 25px 0;
        }
        p{
          width: 100%;
          min-height: 75px;
          color: #9A9A9A;
          text-align: start;
          font-size: 17px;
          margin-bottom: 15px;
        }
        .buton{
          width: 200px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #e2e2e2;
          position: relative;
          transition: 300ms;
          &:hover{
              cursor: pointer;
              .orange{
                  width: 100%;
              }
              .view{
                  color: white;
                     .span{
                      transform: rotate(-90deg);
                     }
                 
              }
          }
          .orange{
              transition: 500ms;
              position: absolute;
              left: 0;
              width: 10px;
              height: 100%;
              background-color: #FF4D24;
          }
          .view{
              z-index: 1;
              font-size: 18px;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              width: 80%;
              .span{
                  margin-left: 10px;
                  display: flex;
                  transition: 400ms;
              }
          }
        }
      }
    }
  }
//   savemoney sectionu ucun responsivlik
  @media screen and (max-width: 1100px) {
    #savemoney{
        .container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
  }
  @media screen and (max-width: 900px) {
    #savemoney{
        .container{
            .photo{
                .images {
                    position: relative;
                    width: 400px;
                    right: -50px;
                    display: flex;
                    .image1 {
                      width: 200px;
                      height: 350px;
                    }
                    .image2 {
                      width: 200px;
                      height: 350px;
                      position: absolute;
                      right: 10px;
                    }
                  }
            }
            .text{
                width: 450px;
                display: flex;align-items: start;
                justify-content: center;
            }
        }
    }
  }
  @media screen and (max-width: 650px) {
    #savemoney{
        .container{
            .photo{
                .images {
                    position: relative;
                    width: 300px;
                    right: -50px;
                    display: flex;
                    .image1 {
                      width: 150px;
                      height: 250px;
                    }
                    .image2 {
                      width: 150px;
                      height: 250px;
                      position: absolute;
                      right: 10px;
                    }
                  }
            }
            .text{
                width: 300px;
                display: flex;align-items: start;
                justify-content: center;

            }
        }
    }
  }



// category section
  #category{
      max-width: 100vw;
      min-height: 70vh;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 80px;
      margin-bottom: 50px;
      .container{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &_text{
              font-size: 24px;
              margin-bottom: 30px;
          }
          .category_cards{
              width: 100%;
              min-height: 450px;
              display: grid;
              grid-template-columns: auto auto auto;
              justify-content: center;
              gap: 20px;
              .card{
                  margin-top: 20px;
                  max-width: 400px;
                  min-height: 385px;
                  img{
                      width: 100%;
                      min-height: 285px;
                  }
                  h3{
                      width: 100%;
                      min-height: 55px;
                      display: flex;
                      gap: 10px;
                      align-items: center;
                      margin-top: 15px;
                      margin-bottom: 15px;
                      font-size: 20px;
                      .line{
                          width: 3px;
                          height: 15px;
                          background-color: #FF4D24;
                          margin-left: 10px;
                      }
                  }
                  p{
                      width: 80%;
                      min-height: 45px;
                      font-size: 17px;
                      color: #9A9A9A;
                  }
              }
          }
      }
  }
//   category sectionu ucun responsivlik
  @media screen and (max-width: 1100px) {
    #category{
        .container{
            .category_cards{
                width: 100%;
                min-height: 450px;
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                gap: 20px;
            }
        }
    }
  }
  @media screen and (max-width: 800px) {
    #category{
        .container{
            .category_cards{
                width: 100%;
                min-height: 450px;
                display: grid;
                grid-template-columns: auto ;
                justify-content: center;
                gap: 20px;
                .card{
                    border: 1px solid black;
                }
            }
        }
    }
  }


// section car
  #car{
      background-image: url("https://shiftup.qodeinteractive.com/wp-content/uploads/2021/12/shop-home-img-17-2-1-1.jpg");
      max-width: 100vw;
      min-height: 600px;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 50px;
      padding-right: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      .container{
          position: absolute;
          left: 130px;
          max-width: 800px;
          min-height: 450px;
          margin-top: 50px;
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: start;
          text-align: start;
          h2{
              left: -55px;
              bottom: -10px;
              font-size: 110px;
              color: transparent;
              -webkit-text-stroke: 2px #e1e1e1;
          }
          h3{
              font-size: 45px;
              color: #EEEEEE;
              margin-bottom: 15px;
          }
          p{
              font-size: 15px;
              color: #9A9A9A;
              margin-bottom: 15px;
          }
          .buton{
              width: 200px;
              height: 60px;
              margin-top: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              backdrop-filter: blur(5px);
              background: rgba(209,209,209,.25);
              position: relative;
              transition: 300ms;
              &:hover{
                  cursor: pointer;
                  .orange{
                      width: 100%;
                  }
                  .view{
                      color: white;
                         .span{
                          transform: rotate(-90deg);
                         }
                     
                  }
              }
              .orange{
                  transition: 500ms;
                  position: absolute;
                  left: 0;
                  width: 10px;
                  height: 100%;
                  background-color: #FF4D24;
              }
              .view{
                  z-index: 1;
                  font-size: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
                  width: 80%;
                  .span{
                      margin-left: 10px;
                      display: flex;
                      transition: 400ms;
                  }
              }
            }
      }
  }
//   car sectionu ucun responsivlik
  @media screen and (max-width: 950px) {
    #car{
        .container{
            display: flex;
            justify-content: center;
            left: 10px;
            h2{
                font-size: 85px;
            }
            h3{
                font-size: 30px;
            }
            p{
                font-size: 13px;
            }
            .buton{
              width: 160px;
              height: 50px;
              font-size: 13px;
            }
        }
    }
  }